body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  margin: 0;
}
/*Main styles*/
.Main {
  display: flex;
  flex-direction: row-reverse;
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
}
.main-content {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
/* aboute styles */
.aboute {
  margin-bottom: 40px;
}
.aboute-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}
.aboute-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}
.aboute-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #303030;
  /* width: 400px; */
  margin: 0;
  margin-bottom: 10px;
}
.project-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-name h3 {
  margin: 0;
}
/* pojekts styles */

.Projects {
  margin-bottom: 50px;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 0;
  border-bottom: 2px solid #000000;
}
.projects-list {
  padding: 0;
  margin: 0;
}
.project-item {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
/* .project-item:nth-child(n + 4) {
  display: none;
} */

.project-link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.project-languages {
  margin: 0;
  margin-bottom: 10px;
}
.project {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.project-link {
  margin-left: 10px;
}
.project-link:hover, .project-link:focus{
  color: #fb6d3a;
}
.projekt-breaket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.project-name {
  margin: 0;
}
#showMoreButton {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline;
}
#showMoreButton:hover, #showMoreButton:focus{
    color: #fb6d3a;
}
/* work styles */
.Work {
}
.work-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
}
.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0;
  margin-bottom: 10px;
}
.period {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #585858;
  margin: 0;
  margin-bottom: 10px;
}
.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.work-list {
  padding: 0;
  margin: 0;
  margin-left: 15px;
}
.work-list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.achievement{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin: 15px 0;
}
/* Education styles */
.Education {
  margin-top: 50px;
}
.Education-pozition {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 2px solid #000000;
}
.management {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
}

/* Sidebar*/
.Sidebar {
  background-color: #1e2939;
  padding: 15px;
  width: 230px;
}
.photo {
  width: 230px;
  margin-bottom: 10px;
}
.contacts,
.skills {
  margin-left: 10px;
  margin-bottom: 50px;
}
.contacts-list {
  margin: 0;
  padding: 0;
}
.contacts-item {
  display: block;
}
.soc-link {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* text-decoration: none; */
  display: flex;
  gap: 10px;
  align-items: center;
}
.phone {
  gap: 5px;
}
.soc-icon {
  fill: #ffffff;
}
.soc-link:hover .soc-icon {
  fill: #fb6d3a;
  /* stroke: #FB6D3A;
    color: #FB6D3A; */
}

.tech-skills {
  margin-bottom: 45px;
}
.sidebar-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
  margin-top: 0;
  border-bottom: 2px solid #ffffff;
}
.contact-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}
.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.tech-skills-list {
  color: #ffffff;
  padding: 0;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.tech-skills-item {
  color: #fb6d3a;
}
.tech-skills-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
